@model SicopMonitor.Web.ViewModels.StatusViewModel
@using System.Globalization;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Status</p>
    <h1 class="display-4">@Model.Mensagem</h1>
    <p>@Model.DataHora.ToString(new CultureInfo("pt-BR"))</p>
</div>
