@model SicopMonitor.Web.ViewModels.StatusViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Status</p>
    <h1 class="display-4">@Model.Mensagem</h1>
    <p>@Model.DataHora.ToString()</p>
</div>
